<%- include('../../shared/includes/head', { pageTitle: 'Order Successful' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order was Successful!</h1>
    <p>You can visit <a href="/order"> the orders page</a> for more details.</p>
  </main>
<%- include('../../shared/includes/footer') %>